<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <property name="CONSOLE_LOG_PATTERN"
              value="%d{yyyy-MM-dd HH:mm:ss.SSS Z} [%X{transaction.id},%X{trace.id}] [%thread] %-5level [%class{0}] : %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}"/>

    <appender name="ConsoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <appender name="ConsoleAsyncAppender" class="ch.qos.logback.classic.AsyncAppender">
        <queueSize>1024</queueSize>
        <discardingThreshold>0</discardingThreshold>
        <includeCallerData>true</includeCallerData>
        <appender-ref ref="ConsoleAppender" />
    </appender>

    <logger name="com.esina" level="DEBUG" additivity="false">
        <appender-ref ref="ConsoleAsyncAppender"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="ConsoleAsyncAppender"/>
    </root>
</configuration>